@import "../../SASS/Utils/variable";
@import "../../SASS/Utils/mixin";


.ErrorPage {
    max-width: 95%;
    margin: 0 auto;
    color: $color-primary;



    &__infos {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        min-height: calc(100vh - 250px);



        &__title {
            font-weight: 700;
            font-size: 288px;

            @media screen and (max-width: 600px) {
                font-size: 99px;


            }

        }

        &__content {
            font-weight: 500;
            font-size: clamp(18px, 3vw, 36px);
            text-align: center;
        }
    }

    .ErrorPage__infos__return {
        display: block;
        text-align: center;
        font-weight: 500;
        font-size: clamp(14px, 2vw, 18px);
        text-decoration-line: underline;

    }



}